*.class
*.log
*.ctxt
.mtj.tmp/
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar
hs_err_pid*
.gradle
/build/
gradle-app.setting
!gradle-wrapper.jar
.gradletasknamecache
*.apk
*.ap_
*.dex
bin/
gen/
out/
.gradle/
build/
local.properties
proguard/
.navigation/
captures/
*.iml
*.jks
.externalNativeBuild
google-services.json
freeline.py
freeline/
freeline_project_description.json
.idea
cmake-build-debug/
*.iws
.idea_modules/
atlassian-ide-plugin.xml
.idea/replstate.xml
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties
.DS_Store
/build
/captures
gradle.properties
gradle/
gradlew
gradlew.bat

